

/* Body Styling*/

body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 { 
    font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Arvo";
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   color: #fff;
   margin: 0;
	padding: 0;
}

h3 {
   font-family: Oswald;
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}



.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }



/*Nav Bar Styling*/

	.navbar-default {
		margin-left: 90px;
		position: fixed; 
		width : 100%;
		}
		
	.navbar1 {
			position: fixed;
			width : 100%;
		}
		


	.navbar-brand>img {
		padding-top:2px;
	}
		
	
			
	

  

#nav { width: 410px; float: right; margin-top: 20px; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 21px;
}






/*= QUOTES AND SOME ELEMENTS
--------------------------------------------------------*/
.quotes {   
 font-family: 'Goudy Bookletter 1911', serif;
   font-weight: normal;
   font-size: 30px;
  text-align: left;
  margin: 50px auto;
}
   
 .author_name_white { font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #fff; font-size: 20px; }  
 .author_name_gray { font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }  
 .quotes_container { width: 800px; margin: 0 auto; }

.fixed{
		margin-left: 385px;
		margin-top: 130px;
		position:fixed;
		
	}

/*= BUTTONS
--------------------------------------------------------*/





/*= SLIDES STYLING
--------------------------------------------------------*/


#bg1{
	background:url('../img/Screen1.png') 100% 0 no-repeat fixed;
	color: #fff;
	height: 1200px;
	padding: 200px 0 260px 0;
	background-size: cover;
	width: 100%;
}

#slide2{
	
	
	
}

#bg2{
	background: url(../img/Screen2.png) 100% 0 no-repeat fixed;
	color: #fff;
	height: 1500px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background-color: #fff;
	color: #333333;
	height: 300px;
	padding: 200px 0;
}

#bg3{
	background: url(../img/Screen3.png) no-repeat center fixed;
	height: 800px;
	padding: 200px 0 260px 0;
	background-size: cover;
	width: 100%;
}

/*#standing_boy{
	position:fixed;
	 
	
	top:240px;
	left:500px;
	
}

#boy_2{
	
	position:fixed;
	 
	
	top:440px;
	left:500px;
	
}
#boy_3{
	
	position:fixed;
	 
	
	top:440px;
	left:500px;
	
}
*/

.left {
  position: fixed;
  z-index: 1000;
  top: 180px;
  left: 520px;
  display: none;
}