
	*{
	margin: 0px;
	padding: 0px;
	}
	
	
	/* Background using linear gradiant */
	body {
		background: rgba(216,225,231,1) 50%;
		background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
		background: linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); 
		}

		
	/* Parallax scrolling position images */
	#image {
		position: relative;
		z-index: -1;
	}
	
	 /* Boy image fixed */
	.fixed{
		margin-left: 585px;
		margin-top: 230px;
		position:fixed;
		
	}
	
	.star {
        visibility: hidden;
		margin-left: 585px;
		margin-top: 230px;
    }

    .fadeIn {
        -webkit-animation: animat_show 8s;
        animation: animat_show 8s;
        visibility: visible !important;
    }
	
	.fadeOut {
        -webkit-animation: animat_hide 8s;
        animation: animat_hide 8s;
        visibility: invisible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }	
	
	
	
	 /* image position and width */
	#content {
		height: 750px;
		width: 100%;
		margin-top:-10px; 
		background-color:#4ECDC4;
		position: relative;
		z-index: 1;
	}
	
	
	/* navbar */
	.navbar-inverse {
		border: none;
		background: #4ECDC4;
		background: -webkit-linear-gradient(to left, #4ECDC4, #556270);
		background: linear-gradient(to left, #4ECDC4, #556270); 
		position: fixed; 
		width: 100%;
		height: 40px;
		}
		
		.example4 {
			position: fixed;
			width : 100%
		}
		.example4 .navbar-brand>img {
		padding: 7px 14px;
		}
		
	
		
	.navbar-inverse .container .navbar-nav > li > a {
  background: #556270;
  height: auto;
  
  
  width: auto; }
  
  
 
	





